body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

/* Estilos para pantallas más grandes (mayores o igual a 390px) */
.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #1A1E23;
  /* color: #fff; */
  padding-left: 100px;
  padding-right: 100px;
}

.gabriel {
  padding-bottom: 15px;
  color: #2980b9;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: 18px;
  cursor: pointer;
}

.gabriel:hover {
  content: '';
  position: relative;
  transform: scaleX(1.3);
  transform-origin: center;
  transition: transform 0.3s ease-in;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 24px;
  position: relative;
}

.nav-item button {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 13px;
  background: none;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  position: relative;
}

.nav-item button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #2980b9;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.nav-item button:hover::after,
.nav-item button:focus::after,
.nav-item button.active::after {
  transform: scaleX(1);
}


/* Estilos para pantallas más pequeñas (menores a 390px) */
@media (max-width: 800px) {
  .navbar {
    padding-left: 16px;
    padding-right: 16px;

    width: 100%;
  
    /* background-color: magenta; */
  }
  
  .nav-links {
    display: none;
  }
  
  .gabriel {
    font-size: 18px;
  }

  .nav-item button{
    color: black;

    font-size: 10px;
  }
  
  .menu-icon {
    /* Agregar el estilo para el botón de menú desplegable */
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 30px;
    height: 20px;
    
    cursor: pointer;
    margin-left: auto;
  }
  
  .menu-line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease;
  }
  
  /* Estilos para animar las líneas del botón de menú */
  .menu-line.line1 {
    transform: translateY(7px);
  }
  
  .menu-line.line2 {
    opacity: 0;
  }
  
  .menu-line.line3 {
    transform: translateY(-7px);
  }
  
  /* Estilos para mostrar el menú desplegable */
  .nav-links.show {
    display: flex;
    justify-content: center;

    position: absolute;
    top: 50px; 
    right: 16px;
    
    width: 96%;

    z-index: 100;
    
    background-color: white;
  }
  
  .nav-links.show li {
    margin: 10px 0;
  }
  
  .nav-links.show li:last-child {
    margin-bottom: 0;
  }
}