.contendor{
    background-color: #eeee;
    height: 100vh;

    /* border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.592);
    border-bottom: 1px solid rgba(0, 0, 0, 0.592); */

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: none;
    padding-left: 100px;
    padding-right: 100px;

    /* overflow: hidden; */
}

.SobreMi{
    background-color: #2980B9;
    color: white;
    
    border-radius: 5px;

    width: 10em;

    padding: 0 5px;
    margin-bottom: 20px;
    margin-top: 3.5em;

    font-weight: bolder;
    font-family:'Courier New', Courier, monospace;
    font-size: 30px;
}

.c0{
    /* border: 1px solid black; */

    display: flex;
    justify-content: center;
    height: 70vh;
}

.c1{
    /* border: 1px solid red; */

    display: flex;
    justify-content: flex-end;
    /* align-items: center; */

    width: 25%;
    /* height: fit-content; */
}

.c1IMG{
    width: 100%;
    height: 90%;
}

.c2{
    border: 1px solid black;
    
    display: flex;
    flex-direction: column;
    
    
    padding: 10px;
    
    width: 55%;
    height: 90%;
    
}

.c2P{
    /* border: 1px solid green; */
    /* border: 1px solid black; */
    border-left: none;
    border-bottom: none;
    margin: 15px;
    
    text-align: start;

    font-size: 17px;
}

.nameT{
    /* background-color: #2980B9; */
    color: #2980B9;

    /* padding-top: 15px; */
    
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;

    margin-top: 10px;
    margin-bottom: 10px;
}


.logosT{
    /* border: 1px solid black; */
    
    /* margin-top: 0; */
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
    /* width: 80%; */
    /* height: 6em; */
    
}

.logoT {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    transition: transform 0.3s; /* Agrega una transición suave para la propiedad transform */
}

.logoT:hover {
    transform: scale(2); /* Escalar 2 veces en el evento hover */
    cursor: pointer; /* Añade un cursor de tipo 'pointer' para indicar que el elemento es interactivo */
}

.nombre {
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 15px; /* Ajusta el espaciado entre el logo y el nombre */
    
    /* border: 1px solid black; */
}

/* Opcional: para ocultar los nombres por defecto y mostrarlos solo en hover */
.logosT .nombre {
    display: none;
}

.logosT div:hover .nombre {
    display: block;
}


.DlogoT{
    /* opacity: 10px; */
}

@media (max-width: 500px) {
    .contendor{
        /* background-color: red; */
        margin: none;
        padding: 5px;

        height: fit-content;
    }

    .c1IMG{
        /* border: 5px solid blue; */
        width: 100%;
        height: fit-content;
    }

    .c1{
        display: flex;

        max-width: 200px;
        height: auto;
        /* border: 5px solid greenyellow; */
    }
    
    .c2{
        border: 1px solid white;
        
        display: flex;
        flex-direction: column;
        
        
        padding: 5px;
        
        width: 70%;
        height: fit-content;
        
    }
    
    .c2P{
        border-left: none;
        border-bottom: none;
        margin: 8px;
        
        text-align: start;
    
        font-size: 10px;
    }

    .nameT{
        font-size: 15px;
    }

    .logoT {
        /* background-color: white; */
        display: grid;
        grid-template-columns: repeat(1fr 1fr 1fr 1fr);
        gap: 10px; /* Espacio entre las columnas */
        
        max-width: 500px; /* Máximo ancho para limitar a 4 columnas */
        width: 90%; /* Ancho del contenedor */
        
        transition: transform 0.3s; 
    }
}