.ImageHome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: fit-content;
    height: fit-content;

    /* border: 4px solid greenyellow; */
}

.Imagen{
    width: 360px;
    height: 360px;

    /* border: 1px solid black; */
    border-radius: 50%;

    -webkit-box-shadow: -6px 6px 39px 6px rgba(0,0,0,1);
    -moz-box-shadow: -4px 6px 33px 6px rgba(0,0,0,1);
    box-shadow: -4px 6px 33px 6px rgba(0,0,0,1);
}


@media (max-width: 800px) {
    
    .ImageHome{
        width: 100%;
        height: 100vh;
    }
    
    .Imagen{
        width: 360px;
        height: 360px;
        
        -webkit-box-shadow: -6px 6px 39px 6px rgba(0,0,0,1);
        -moz-box-shadow: -4px 6px 33px 6px rgba(0,0,0,1);
        box-shadow: -4px 6px 33px 6px rgba(0,0,0,1);

        filter: blur(10px);

        z-index: 1;
    }
}