.contenedor{
    display: flex;
    flex-direction: column;

    background-color: #1A1E23;
    padding-left: 100px;
    padding-right: 100px;
    
    height: 100vh;

}


@keyframes rotate-center{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}

.contenedorHome0{
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: fit-content;
    
    color: white;
    
    background-color: #1A1E23;
    /* border: 5px solid greenyellow; */

    /* border: 1px solid black; */
}

.contenedorHome{
    animation:rotate-center 1s;

    display: flex;
    align-items: center;
    
    height: fit-content;
    
    color: white;

    /* border: 1px solid black; */
  }
  
.HQ1{
  width: 100%;
}

.HQ2{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  
  width: 100%;
  
  
  /* background-color: red; */
}


.PieDePagina{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 8vh;
  
  display: flex;
  align-items: center;
  
  background-color: #1A1E23;
}

.btn{
  width: 3em;
  
  position: absolute;
  transform: translateY(-2em);
  
  background-color: aqua;
  
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Media query para resoluciones menores a 389px (pantallas pequeñas) */
@media (max-width: 500px) {
  .contenedor {
      /* Agrega los estilos para el contenedor en pantallas pequeñas */
      padding-left: 10px;
      padding-right: 10px;
    }
    
    .contenedorHome0 {
      /* Agrega los estilos para contenedorHome0 en pantallas pequeñas */
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
    
    .contenedorHome {
      /* Agrega los estilos para contenedorHome en pantallas pequeñas */
      flex-direction: column;
      align-items: center;
      padding: 20px;
      color: black;

      height: 450px;
      /* background-color: greenyellow; */
    }
    
    .HQ1{
      /* margin-top: 30%; */
      position: absolute;
      
      background-color: transparent;
      
      width: 90%;
      z-index: 1;

      /* font-weight: bold; */
      transform: translateY(-25%);
    }
    
    .HQ2{
      /* display: flex; */
      /* flex-direction: column; */
      /* justify-content: center; */
      margin-top: 55%;
      position: absolute;
      
      align-items: center;
      
      width: 100%;

      transform: translateY(-50%);
      filter: blur(10px);
    }
    
  
    .PieDePagina {
      /* Agrega los estilos para el pie de página en pantallas pequeñas */
      padding: 8px;
    }
  }